* {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    /* border: 1px solid blue; */

}

h1 {
    color: white;
}

h2 {
    color: white;
    margin-top: 100px;
    margin-bottom: 10px;
}

h3 {
    color: black;
    margin-top: 10px;
    margin-bottom: 100px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: red; 
    background-image: linear-gradient(to bottom, #134d71, #78a7c6, #f7e4bf);
}

.sectionTopBox {
    width: 500px;
    height: 20px; 
    border: 15px solid white;
    background: white;
    border-radius: 7px;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 85px;
    margin-left: auto;
    margin-right: auto;
  }

  .sectionMiddleBox{
    width: 800px;
    height: 30px; 
    border: 15px solid white;
    background: white;
    border-radius: 7px;
    padding: 50px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .sectionHiddenBottomBox {
    width: 500px;
    height: 20px; 
    border: 15px solid white;
    background: white;
    border-radius: 7px;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 85px;
    margin-left: auto;
    margin-right: auto;
  }

  .sectionAddButtonBox {
    width: 500px;
    height: 20px; 
    border: 15px solid white;
    background: white;
    border-radius: 7px;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 85px;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
  }


  .receiveMessage-click {
    background-color: #134d71;
    border-radius: 7px;
    color: white;
    padding: 5px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

#mantra {
    margin-left: auto;
    margin-right: auto;
}
  
