/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

html {
    height: 100%;
}

.title {
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: linear-gradient(#1a4c70, #ded8c1);
}