/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

/* Reset default margin and padding  */
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

.hidden {
  display: none;
}

.hide-form {
  display: none !important;
}

.mantra-circle {
  font-size: 1.8rem;
  color: black;
}

.input-field {
  width: 20rem;
  height: 2rem;
}
.affirmation-circle {
  font-size: 1.8rem;
  color: black;
}

.message-type {
  font-size: 1.8rem;
  color: black;
}

.enter-message {
  font-size: 1.8rem;
  color: black;
}

.welcome {
  font-size: 1.8rem;
  color: white;
  font-weight: bold;
}
.view-favorites {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
}

.view-favorites:hover {
  font-style: italic;
}

.sign-out {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
}

.sign-out:hover {
  font-style: italic;
}

.go-home {
  cursor: pointer;
  font-size: 1.8rem;
}

.go-home:hover {
  font-weight: bold;
}

.nav-bar {
  display: flex;
  font-family: "quicksand";
  color: #ffffff;
  padding: 1rem 2rem;
}
.PAGE1-HOME {
  font-family: "quicksand";
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  padding: 1rem 5rem 15rem 15rem;
  color: #ffffff;
  height: 100vh;
  width: 100vw;
}

.home-page {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.8rem;
}

.choose-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.radio-form-btn {
  background-color: #ffffff;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
  border-radius: 1rem;
}

.radio-form {
  display: flex;
  gap: 1rem;
}
span {
  width: 15rem;
}

.recieve-message-btn {
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #134d71;
  border: 0;
  font-family: "Quicksand";
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  width: 20rem;
  margin-top: 1rem;
  cursor: pointer;
}

.recieve-message-btn:hover {
  background-color: #78a7c6;
}

.display-message {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 1rem;
  width: 50rem;
  padding: 2.5rem;
}

.meditation-icon {
  height: 5rem;
  width: 5rem;
}

.mantra,
.affirmation {
  color: #000000;
  font-style: italic;
}

.message-text {
  color: #000000;
}

.clear-btn {
  margin-left: 5rem;
  font-family: "Quicksand";
  cursor: pointer;
}

.message-text {
  font-size: 1.8rem;
}
.add-message-btn {
  font-size: 1.8rem;
  background-color: #134d71;
  font-family: "Quicksand";
  color: white;
  padding: 1rem 3rem;
  border-radius: 1rem;
  cursor: pointer;
  border: 0;
}

.add-message-btn:hover {
  background-color: #78a7c6;
}

.add-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.add-message-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
}
.selection {
  display: flex;
  gap: 1rem;
}

.submit-msg-btn {
  font-family: "Quicksand";
  background-color: #134d71;
  color: white;
  cursor: pointer;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.submit-msg-btn:hover {
  background-color: #78a7c6;
}

.heart-icon {
  width: 2rem;
  height: 2rem;
  padding-left: 2rem;
  cursor: pointer;
}

.heart-icon:hover {
  width: 2rem;
  height: 2rem;
  padding-left: 2rem;
  fill: rgb(148, 20, 20);
}

.favorites {
  margin-top: 15rem;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.delete-fave {
  color: hsl(0, 75%, 36%);
  font-size: 1.4rem;
}

.delete-fave:hover {
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.fave-display {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}

.PAGE0-LOGIN {
  font-family: "quicksand";
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  padding: 1rem 5rem 15rem 15rem;
  color: #ffffff;
  height: 100vh;
  width: 100vw;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  text-transform: uppercase;
  margin-top: 8rem;
}

.login-and-inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.loginlabel {
  font-size: 1.4rem;
}

.login-input {
  margin-bottom: 1.5rem;
  background-color: #d9dadd;
  border: none;
  border-radius: 100rem;
  padding: 1.6rem;
  font-size: 1.4rem;
  width: 30rem;
}

.login-sign-in {
  background-color: #134d71;
  color: white;
  border: none;
  border-radius: 100rem;
  padding: 1.2rem;
  font-size: 1.4rem;
  width: 30rem;
}

.login-sign-in:hover {
  color: white;
  font-weight: bold;
  box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  cursor: pointer;
}

.PAGE2-FAVES {
  font-family: "quicksand";
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  padding: 1rem 5rem 15rem 15rem;
  color: #ffffff;
  height: 100vh;
  width: 100vw;
}

.fill-red {
  width: 2rem;
  height: 2rem;
  padding-left: 2rem;
  fill: rgb(148, 20, 20);
}
