/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: white;
}

.question {
    padding-top: 5%;
}
.container {
    padding-top: 1rem;
    max-width: 40%;
    text-align: center;
    border: 1px solid black;
    background: white;
    border-radius: 15px;
    margin: 10px auto;
    color: black;
}

.radio {
    display: inline;
}

#display {
    background-color: #134d71;
    color: white;
    border-radius: 5px;
    text-align: center;
    display: flex;
    font-size: 16px;
    margin: 1rem auto;
    padding-left: 5%;
    padding-right: 5%
}
.icon-view {
    max-width: 10%;
    max-height: 15%;
}

#message-box {
    padding: 1.125rem;
    max-width: 60%;
    margin: 8% auto;
}

.hidden {
    display: none
}