/*
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000; */
html {
  width: 100%;
  height: 100%;
}

* {
  font-family: 'Quicksand', sans-serif;
  margin: auto;
}

/*~~~~~~~ LOGIN SECTION ~~~~~~~*/

.login-form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: white;
  margin: 0 30% 0 30%;
}

.login-form h2 {
  margin-bottom: 30px;
}

.login-form form {
  align-content: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.login-form input {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

.login-form .divider {
  border-bottom: 1px solid black;
  margin: auto;
  margin-bottom: 20px;
  width: 400px;
}

/*~~~~~~~~~ MAIN PAGE ~~~~~~~*/

body {
    background: linear-gradient(#134d71, #78a7c6, #f7e4bf) no-repeat;
    height: 100%;
    width: 100%;
}

h1, h2, h3 {
  color: #ffffff;
  text-align: center;
}

h1 {
  margin-bottom: 50px;
}

h2, h3 {
  margin-bottom: 15px;
}

main {
  display: flex;
  flex-direction: column;
}

.select-message-section {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.message-selection {
  background-color: #ffffff;
  height: 80px;
  width: 400px;
  border-radius: 5px;
  text-align: center;

}

#mantra {
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}

button {
  background-color: #134d71;
  color: #ffffff;
  border-radius: 3px;
  border: #134d71;
  width: 180px;
  height: 25px;
}

button:hover {
  background-color: #78a7c6;
  text: #134d71;
  cursor: pointer;
}

.generated-message {
  background-color: #ffffff;
  height: 150px;
  width: 60%;
  border-radius: 5px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.meditation-icon {
  margin-top: 30px;
  height: 100px;
  width: 100px;
}

.hidden {
    display: none!important;
}

p {
  margin-top: 55px;
}
