 /* font-family: 'Quicksand', sans-serif; */
/* COLORS{
light-yellow: #f7e4bf;
light-blue: #78a7c6;
dark-blue: #134d71;
white: #ffffff;
black: #000000;
} */ 


body {
    min-height: 100vh;
    background: linear-gradient(#134d71,#78a7c6,#f7e4bf)
}

h1 {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
}

h2 {
  text-align: center;
  color: white;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
}

.all-buttons {
  background-color: white;
  border-radius: 10px;
  height: 100px;
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-buttons {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin-top: auto;
  display: flex;
}

button {
  background-color: #134d71;
  color: white;
  font-family: 'Quicksand', sans-serif;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 1;
  font-size: 15px;
  border-radius: 10px;
  margin: auto;
  margin-top: auto; 
  margin-bottom: 10px;
}

svg {
  height: 50px;
  width: 50px;
  margin: auto;
}

.display-box {
  background-color: white;
  border-radius: 10px;
  height: 125px;
  width: 700px;
  margin: auto;
  display: flex;
  border: 75px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 75px;
}

.hidden {
  display: none;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  display: flex;
  margin: auto;
  margin-bottom: 50px;
}

.view-all {
  background-color: #f7e4bf;
  color: #134d71;
  width: 200px;
  height: 35px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 55px;
  font-size: 20px;
  flex-direction: column;
}

.all-messages {
  flex-direction: row;
}

h4 {
  background-color: linear-gradient(#f7e4bf,#78a7c6,#134d71);
  text-align: center;
  color: white;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
}

h5 {
  text-align: center;
  color: white;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
}


p {
  text-align: center;
  color: white;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
}

