* {
    font-family: 'Quicksand', sans-serif;
}

html, body {
    height: 100%;
}

header {
    display: flex;
    justify-content: flex-end;
}

nav {
    display: flex;
    justify-content: space-evenly;
    color: white;
}

#viewall, #faves, #homebtn {
    font-size: 15px;
    border: 0px;
    padding: 7px 4px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: 30px;
    width: 30%;
    color: #134d71;
    transition: .2s ease all;
}

#viewall:hover, #faves:hover, #homebtn:hover {
    background-color: #faf5eb;
    color:#468dba;
    cursor: pointer;
    width: 33%;
}

#heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    padding-top: 5%;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, #134d71, #78a7c6, #f7e4bf) no-repeat;
    margin: 0;
}

.home-view {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-top: 6%;
    font-size: 1.2rem;
}

.receive-msg-box {
    border-radius: 10px;
    background: white;
    padding: 20px;
    width: 550px;
    height: 80px;
}

section {
    display: flex;
    justify-content: center;
    margin: 0% 5%;
}

form {
    display: flex;
    justify-content: space-evenly;
}

label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

#msgbtn, #clearbtn {
    font-size: 15px;
    padding: 5px;
    border: 0px;
    background-color: #134d71;
    border-radius: 5px;
    margin-top: 30px;
    width: 35%;
    color: white;
    transition: .2s ease all;
}


#clearbtn:hover, #msgbtn:hover {
    background-color: #2f75a1;
    cursor: pointer;
    width: 40%;
}

.message-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: white;
    padding: 10px;
    width: 900px;
    height: 135px;
    margin-top: 100px;
}

img {
    width: 75px;
    height: 75px;
}

.hidden {
    display: none !important;
}

