#affirmation-button {
  margin: 0px 5px 10px -10px;
}

body {
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  /* margin: 50px auto 150px auto; */
  text-align: center;
}

/* look at box model to add borders, margin, padding, etc. */
form {
  background-color: #FFFFFF;
  border-radius: 8px;
  color: #000000;
  height: 45px;
  margin: auto;
  padding: 20px;
  text-align: center; 
  width: 500px;
}

h2 {
  margin: 40px auto 65px auto;
}

h3 {
  margin: 50px auto 10px auto;
}

img {
  display: block;
  margin: 10px auto 10px auto;
  width: 8%;
}

#mantra-button {
  margin: 0px 5px 10px 180px;
}


label {
  margin: auto;
}

#message-area {
    border-radius: 8px;
    background: #FFFFFF;
    height: 100px;
    margin: 85px auto 150px auto;
    padding: 10px;
    width: 750px;
  }

  #receive-message-button {
    align-content: center;
    background-color: #134d71;
    border-radius: 5px;
    border: 10px;
    color: #ffffff;
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    height: 25px;
    margin: 8px auto 5px auto;
    padding: 0px;
    width: 175px;
  }
  
