

nav {
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  text-align: center;
}

body {
  background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  background-attachment: fixed;
}

.message-type {
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  text-align: center;
  margin-top: 100px;

}

/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
