/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
html {
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
}

body {
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h3{
  color: #ffffff;
}

section {
  margin: 40px 0px;
  width: 80%;
  text-align: center;
  justify-content: center;
}

article {
  margin: 0px 20px
}

.message-selection {
  margin: 0px 20%;
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
}

.message-options {
  margin: 10px 0px;
}


label {
  font-style: italic;
}

button {
  color: #ffffff;
  background: #134d71;
  border: 2px solid #134d71;
  border-radius: 5px;
  padding: 2px 10px;
}

.message-result {
  background: #ffffff;
  padding: 20px 0px;
  border-radius: 5px;
}


img {
  width: 10%;
}
