/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
/* *{
  border: 1px solid black;
} */
h1, h2, button, label {
  font-family: 'Quicksand', sans-serif;
}

h1, h2, main {
  text-align: center;
  color: #ffffff;
}

h1, h2 {
  color: #ffffff;
}

h2{
  margin-top: 150px;
}

label {
  font-style: italic;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 7px;
  width: 550px;
  margin: auto;
  padding: 40px 0;
  height: 15px;
}

.radio-buttons {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: black;
}

.receive-message {
  display: flex;
  justify-content: center;
  color: #ffffff;
  background: #134d71;
  font-family: 'Quicksand', sans-serif;
  margin-left: 120pt;
  margin-right: 120pt;
}

.meditation-icon {
  height: 10pt;
  justify-content: center;
}

.message-display {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: 80%;
  border-radius: 7px;
}

svg {
  height: 60px;
  width: 60px;
}


.home {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
}

.hidden {
  display: none!important;
}
