/* font-family: 'Quicksand', sans-serif; */
/*COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
.navigationbar__menu {
    background:#134d71;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: top;
    top: 0;
    z-index: 999;
} */


/* h2{
    display: flex;
    justify-content: center;
    align-items: center;

} */
body {
    margin: 0px;
}

h1, h3 {
    color: white;
}
h1 {
    margin-bottom: 50px;
}
h3 {
    margin-bottom: 10px;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexbox-item {
    width: 200px;
    margin: 0px;
    background-color: ghostwhite;
    z-index: 20;
}


.flexbox-item-2 {
    height: 120px;
    width: 600px;
    border-radius: 10px;
    margin-bottom: 90px;

}

.flexbox-item-3 {
    height: 150px;
    width: 800px;
    border-radius: 10px;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    background-image:linear-gradient(#134d71 5%,#78a7c6 50%, #78a7c6 50%,#f7e4bf);
    font-family: 'Quicksand', sans-serif;
    z-index: 0;
}

/* .container{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin: 0 auto;
    align-items: center;

} */