
body {
  background-image: linear-gradient(#134d71,#78a7c6,#f7e4bf);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Quicksand', sans-serif;
  position: center;
  text-align: center;
}

h1 {
  color: #ffffff;
  padding-top: 3%;
}

h2 {
  color: #ffffff;
  padding-top: 3%;
 }

form {
  background: #ffffff;
  border-radius: 15px;
  font-style: italic;
  height: 120px;
  margin-left: 30%;
  margin-right: 30%;
  position: auto;
}

.radio-area {
  padding-top: 5%;
 }

 label {
   padding-right: 10%;
   position: relative;
 }

button {
  background-color: #134d71;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  margin-top: 5%;
  padding: 3px 20px 3px 20px;
}

.bottom-section {
  background: #ffffff;
  border-radius: 15px;
  height: 150px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 8%;
}

img {
  height: 55%;
  margin-top: 3%;
  width: 55%;
}

.quote-area {
  font-size: 20px;
  padding-top: 5%;
}


.hidden {
  display: none!important;
}
