/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  background-image: linear-gradient(rgb(99, 192, 99), #B4D435);
}

.pick-words {
  text-align: center;
}

.user-choice-section {
  text-align: center;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1.1rem;
  width: 30vw;
  height: 70vh;
  box-shadow: -3px 2px 5px darkgreen;
}

hr {
  width: 30vw;
}

.word-choice-radio-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
}

.receive-message-btn {
  margin: 2rem 0;
  color: white;
  background-color: green;
  border: none;
  border-radius: .5rem;
  height: 2.5rem;
  width: 10rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  font-weight: lighter;
}

.hidden {
  display: none;
}

.clear-message-link {
  color: lightskyblue;
  text-decoration: underline;
  cursor: pointer;
}