/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

* {
  font-family: 'Quicksand', sans-serif;
}

html {
  height: 100%;
  background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf );
}

body {
  height: 100%;
}

.hidden {
  display: none;
}

.text {
  color: #ffffff;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  font-size: 200%;
}

#prompt {
  font-size: 140%;
  padding-top: 100px;
  padding-bottom: 10px;
}

#affirmation-button {
  margin-right: 10px;
}

#affirmation {
  font-style: italic;
  margin-right: 150px;
  font-size: 120%
}

#mantra-button {
  margin-right: 10px;
}

#mantra {
  font-style: italic;
  font-size: 120%
}

#get-message {
  background-color: #134d71;
  color: #ffffff;
  font-size: 120%;
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 200px;
  height: 30px;
}

.box {
  margin: auto;
  margin-bottom: 100px;
  background-color: #ffffff;
  padding: 20px;
  width: 525px;
  height: 60px;
  border-radius: 10px;
  text-align: center;
}

#message-display {
  margin: auto;
  padding: 10px;
  width: 800px;
  height: 150px;
}

p  {
  margin: auto;
  font-style: normal;
  font-size: 30px;
  align: center;
  padding: 40px;
}

#lil-human {
  margin: 35px;
  width: 120px;
  height: 75px;
}
