/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

/*entire page*/
html {
  height: 100%;
  background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
}

h1 {
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  text-align: center;
  margin-bottom: 80px;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size:15px;
  color: #ffffff;
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  font-size:15px;
  color: black;
  text-align: center;
  margin: auto;
  background-color: #ffffff;
  padding-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height:90px;
  margin-right: auto;
  margin-left: auto;
}

form {
  display: flex;
  justify-content: center;
  width: 400px;
  font-family: 'Quicksand', sans-serif;
  margin: auto;
}

label {
  margin-right: 40px;
}

.affirmation {
  margin-right: 140px;
  font-style: italic;

}

button {
  background-color: #134d71;
  margin-bottom: 15px;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  height: 70px;
  width: 180px;
  border: 0;
  font-size:15px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

input {
  font-family: 'Quicksand', sans-serif;
  font-size:15px;
  color: black;
  text-align: center;
  margin: right;
  background-color: #ffffff;
  padding-top: 18px;
  margin-bottom: 30px;
  /* width: 50px;
  height: 65px; */
  border-radius: 10px;
}

.imageBox {
  width: 700px;
  height: 100px;
  margin-top: 100px;
}


img {
  width: 60px;
  height: 60px;
  align: auto;
  margin-top: 18px;
}
