/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

body {
  background: rgb(19,77,113);
  background: linear-gradient(180deg, rgba(19,77,113,1) 0%, rgba(120,167,198,1) 50%, rgba(247,228,191,1) 100%);
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  height: 5%;
  width: 5%;
}

.white-box {
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#message-choice {
  width: 100%;
  padding-top: 3%;
  padding-bottom: 2%;
}

#message-display {
  width: 65%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.middle-grouping {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

.radio-buttons {
  width: 70%;
  margin-left: 10%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  background-color: #134d71;
  color: #ffffff;
  border-radius: 5px;
  padding: 3% 25% 3% 25%;
  cursor: pointer;
  white-space: nowrap;
}

input {
  cursor: pointer;
}
