/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000; */

h1 {
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
    text-align: center;
}

body {
    background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
    background-attachment: fixed;
}