/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/



.header {
    padding: 20 ; 
    text-align: center;
    color: black ;
}

.question {
    padding: 20;
    text-align: center;
    color: black
}

/* .first-button {
    text-align:center;
 }

 .second-button {
    text-align: center;
 }


 .message-button {
    text-align: center;
 } */

 #dude {
    height: 400px;
    width: 300px;

    
 }