/* font-family: 'Quicksand', sans-serif;
COLORS light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000; */


body {
  background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  text-align: center;
  font-style: italic;
  font-family: 'Quicksand', sans-serif;
  width: 50vh;
  height: 1vh;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 40px;
  border-radius: 4px;
  border: 10px solid white;
}

input {
  margin: 0 -1% 0 29%;
}

button {
  background-color: #134d71;
  color: white;
  font-family: 'Quicksand', sans-serif;
  border-radius: 4px;
  width: 160px;
  border: none;
  height: 24px;
  margin: 10px;
  line-height: 20px;
}

button:hover {
  color:white;
  background-color:#78a7c6;
  cursor: pointer;
}

.messages {
  background-color: white;
  width: 800px;
  height: 140px;
  margin: 50px;
  border-radius: 4px;
}

p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}

img {
  width: 90px;
  height: 140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.hidden {
  display: none!important;
}
.affirmation {
  margin-left: auto;
}
.error-message {
  color: red;
}
  )
