body {
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(to bottom, #134d71 0%, #78a7c6 50%, #f7e4bf 100%);
  background-repeat: no-repeat;
}

main {
  min-height: 100vh;
}

h1, h3 {
  color: #ffffff;
  text-align: center;
}

h1 {
  margin-top: 45px;
  margin-bottom: 75px;
}

h3 {
  margin-bottom: 7px;
}

.message-form {
  background-color: #ffffff;
  height: 100px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 75px;
  border-radius: 7.5px;
}

.message-button {
  color: #ffffff;
  background-color: #134d71;
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Quicksand', sans-serif;
}

.message-display {
  background-color: #ffffff;
  height: 125px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items:center;
  margin: 0 auto;
  border-radius: 10px;
}

.message-display img {
  height: 50px;
}

.radio-buttons {
  font-style: italic;
  display: flex;
  width: 100%;
  justify-content: space-around;
}



/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
