html {
    height: 100%;
}

body {
    background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    text-align: center;
    color:#ffffff;
}

header {
    font-size: .5em;
}

#box1 {
    font-size: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}


#choose-message {
    background-color: #ffffff;
    color: black;
    font-size: .5em;
    border-radius: 10px;
    width: 400px;
    height: 60px;
    padding: 10px;
    margin: 0 auto;
}

#msg-box {
    background-color: #ffffff;
    width: 600px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    font-size: .5em;
    color: black;
}

button {
    height: 20px;
    width: 150px;
    font-family: 'Quicksand', sans-serif;
    background-color: #134d71;
    border: none;
    border-radius: 5px;
    color:#ffffff;

}

button:active {
    box-shadow: none;
}

.hidden {
    display: none;
}