/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

body {
    background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
    background-attachment: fixed; 
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

main {
    display: flex;
    align-content: center;
    flex-direction: column;
}

h1, 
h2 {
    display: flex;
    color: #ffffff;
    justify-content: center;
}

.affirmation, .mantra{
    color: black;
    font-style: italic;
    margin-right: 20px;
}

.bottom-zen-block{
    display: flex;
    text-align: center;
    border-radius: 8px;
    width: 800px;
    height: 140px;
    margin: auto;
    background-color: #ffffff;
    margin-top: 131px;
    align-items: center;
    justify-content: space-around;
}

.clear-button {
    display: flex;
    margin-right: 12px;
    border-radius: 4px;
    background-color: #f7e4bf;
    color: #134d71;
    width: 200px;
    height: 35px;
    padding: 0;
    border: none;
    font-family: 'Quicksand', sans-serif;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: space-around;
    align-items: center;
    margin-left: 635px;
}

.hidden {
    display: none;
}

.pick-type-form {
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    background-color: #ffffff;
    width: 490px;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
    margin-left:480px;
}

.receieve-message { 
    margin-right: 12px;
    border-radius: 4px;
    background-color: #134d71;
    color: #ffffff;
    width: 185px;
    height: 25px;
    padding: 0;
    border: none;
    font-family: 'Quicksand', sans-serif;
}

.select-type-form {
    margin-right: 75px;
    margin-left: 75px;
}

.zen-figure {
    border-radius: 2px;
    margin-top: 37px;
    width: 530px;
    height: 64px;
    margin-left: 30px;
}


