* {font-family: 'Quicksand', sans-serif;

}

body {
  background: rgb(19,77,113);
  background: linear-gradient(180deg, rgba(19,77,113,1) 16%, rgba(120,167,198,1) 57%, rgba(247,228,191,1) 100%);
  background-repeat: no-repeat;
}



#self-care-center-title {
  font-size: 1.5em;
  color: #ffffff;
  font-weight: 500;
}

/* COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000; */
