*,
*:before,
*:after {
    font-family:'Quicksand', sans-serif;
}

html {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(#134d71, #f7e4bf);
}

.header {
    margin-top: 50px;
    text-align: center;
    color: #ffffff
}

.hidden {
    display: none;
}

/* ~~~~~~~~~~~~~~~~~ Text Box 1 ~~~~~~~~~~~~~~~~~*/

h2 {
    margin-top: 60px;
    text-align: center;
    color: #ffffff
}

.textBox1 {
    margin: auto;
    height: 100px;
    width: 530px;
    background: #ffffff;
    border-radius: 10px;
    margin-bottom: 75px;
}

form {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    font-style: italic;
}

#mantra-selector {
    margin-left: 15vh;
}


/* ~~~~~~~~~~~~~~~~~ BUTTONS ~~~~~~~~~~~~~~~~~*/

.button-main {
    font-size: 17px;
    border-width: 0px;
    background-color:#134d71;
    color:#ffffff;
    margin: auto;
    margin-top: 27px;
    display: flex;
    border-radius: 5px;
    padding-inline: 20px;
    padding-block: 3.5px;
}

/* ~~~~~~~~~~~~~~~~~ Text Box 2 ~~~~~~~~~~~~~~~~~*/

.textBox2 {
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    margin: auto;
    margin-bottom: 35vh;
    height: 12vh;
    width: 100vh;
    background: #ffffff;
    border-radius: 10px;
    font-size: 24px;
    padding: 10vh;
}

.textBox2 > img {
    height: 80px;
    margin: auto;
    width: 80px;
}

/* ~~~~~~~~~~~~~~~~~ view saved messages section ~~~~~~~~~~~~~~~~~*/


.saved-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-box {
    display: flex;
    justify-content: space-between;
}

#remove-saved-message-button {
    margin: auto;
    background-color: #f7e4bf;
    border-radius: 5px;
    border: 0;
}

#saved-message {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    width:fit-content;
    font-size: 20px;
    border-radius: 5px;
}

/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/