/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
/* ~~~~~~~~~ Global ~~~~~~~~~~ */

* {
  /* border: 2px solid blue; */
}

body {
  height:100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

label {
  font-size: .8em;
  font-style: italic;
}

input {
  text-align: center;
}

.hidden {
  display: none!important;
}

.call-to-action-text {
  text-align: center;
  color: white;
  padding-bottom: 4px;
  margin-bottom: 0.25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9vh;
  font-weight: bold;
  font-size: 0.9em;
}

/* ~~~~~~~~~ Login Page ~~~~~~~~~~~~~~ */
.img-box {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top:5.5%;
  margin-bottom: 0;
  /* border: solid;
  border-color: red; */
}

.login-box {
  width: 55vw;
  height: 20vh;
  /* border: solid;
  border-color: red; */
  margin: 0 auto auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-text {
  width: 40%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 8px;
  /* figure out how to center the input text */
}

.login-btn {
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4.5px;
  border-style: none;
  padding: 1.2% 6% 1.2% 6%;
  background-color: #134d71;
  color: white;
}



/* ~~~~~~~~ Main Page Section ~~~~~~~~~~~~ */

.header-text {
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 6vh;
  font-size: 1.2em
}

.welcome-message {
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 6vh;
  font-size: 1.2em
}

.main-box {
  width: 55vw;
  height: 30vh;
  /* border: solid;
  border-color: red; */
  margin: 0 auto auto auto;

}

.btn-container {
  width: 55%;
  height: 31%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.radio-btns {
  background-color: white;
  display: block;
  padding-bottom: 3%;
  padding-top: 1.7%

}

.affirmation-btn {
  margin-left: 13%;
}

.mantra-btn {
  margin-left: 37%
}

.receive-msg-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  border-radius: 7px;
}

.receive-msg-btn button {
  /* margin-left: 36%; */
  border-radius: 4.5px;
  border-style: none;
  padding: 0.75% 4% 0.75% 4%;
  background-color: #134d71;
  color: white;
}

.display-box {
  width: 100%;
  height: 58%;
  margin-top: 6.0em;
  border-radius: 7px;
  background-color: white;
}

.bell-icon-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
  background-color: white;
}

img {
  height: 50%;
  width: 100%;
}

.message-box {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 7px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: ;
}
