/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

body {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    /* width: 100vh; */
    background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.choose-care-message-container {
    background-color: #ffffff;
    border-radius: 8px;
    width: 45%;
    height: 10%;
    margin: 25px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.message-output-container {
    background-color: #ffffff;
    width: 65%;
    height: 15%;
    margin: 25px;
    margin-bottom: 50px;
    border-radius: 8px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.favorites-output-container {
    background-color: #ffffff;
    font-size: smaller;
    width: 65%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

 .input-buttons {
    color: #134d71;
    width: 75%;
    margin-left: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-style: italicgit;
}

.radio-button {
   display: inline-block;
   padding: 0;
   margin-right: 5px;
   cursor: pointer;
}

.recieve-message {
    background-color: #134d71;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
}

.main-header {
    color: #ffffff;
    margin-bottom: 150px;
}

.sub-heading {
    margin: 15px;
    color: #ffffff;
}

.random-phrase {
    color:#000305;
    font-size: x-large;
    margin: 10px;
}

#meditation-image {
    width: 45%;
    height: 45%;
}

#affirm-radio {
    margin-right: 150px;
}

.output-message {
    font-size: x-large;
}

.hidden {
    display: none;
}

.error-handling {
    font-style: italic;
    font-size: larger;
    color: rgb(235, 205, 37);
}

.error-pointer-handling {
    cursor: not-allowed;
}

.button-pointer-handler {
    cursor: pointer;
}
