* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(19,77,113);
  background: linear-gradient(180deg, rgba(19,77,113,1) 16%, rgba(120,167,198,1) 57%, rgba(247,228,191,1) 100%);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



#self-care-center-title {
  font-size: 2.5em;
  color: #ffffff;
  font-weight: 505;
  margin-top: 1em;
  margin-bottom: 2em;
}

#which-type-of-message-text {
  display: flex;
  font-size: 1.5em;
  color: #ffffff;
  font-weight: 520;
  justify-content: center;
}

#all-type-of-message-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.5em;
  margin-top: -0.5em;
  width: 45em;
  height: 8em;
}

#affirmation-mantra-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  width: 19em;
  font-size: 1.5em;

}

.radio-and-label {
  display:flex;
  justify-content: center;
  align-content: space-between ;
  font-style: italic;
}


 input[type='radio'] {
     transform: scale(1.5);
       border-width: thin;
       margin-right: 1.5em;
 }

.button-wrapper {
  display: flex;
}

#receive-message {
  background-color: #134d71;
  color:#ffffff;
  font-size: 1.3em;
  font-weight: lighter;
  border-radius: 0.3em;
  width: 11em;
  height: 1.5em;
  border: none;
  margin-top: 1em;
}

#logo-space {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  margin: 8em;
  background-color: #ffffff;
  height: 11em;
  width: 62em;
}

#logo-img {
  width: 7em;
  height: 6em;
}

.hidden {
  display: none;
}




/* COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000; */
