/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
:root {
  --text-color: #000000;
  --header-textbox-color: #ffffff;
  --main-bg-color: #134d71;
  --secondary-bg-color: #78a7c6;;
  --tertiary-bg-color: #f7e4bf;
}

html {
  height: 100%;
}

body {
  background-image: linear-gradient(var(--main-bg-color), var(--secondary-bg-color), var(--tertiary-bg-color));
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Quicksand', sans-serif;
  color: var(--text-color);
}

h1 {
  color: var(--header-textbox-color)
}

.wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 75vh;
}

.message-selection {
  display: flex;
  flex-direction: column;
}

.message-selection--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--header-textbox-color);
  border-radius: 12px;
  padding: 20px;
}

.message-selection--inputs {
  padding: 20px;
}

.messsage-selection--header {
  color: var(--header-textbox-color);
}

.quote {
  background-color: var(--header-textbox-color);
  padding: 20px;
  border-radius: 12px;
  min-width: 60%;
}
.quote--text {
  text-align: center;
}
