/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

/* ~ GLOBAL STYLES ~ */
html,
body {
    height: 100vh;
    margin: 0;
}
body {
    font-family: 'Quicksand', sans-serif;
    background: rgb(19,77,113);
    background: linear-gradient(rgba(19,77,113,1) 0%, rgba(120,167,198,1) 60%, rgba(247,228,191,1) 100%);
    background-size: 100%, 100vh;
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;
}
.hidden {
    display: none !important;
}
h1{
    font-size: 3rem;
}
h1, h2{
    color: white;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* ~ FORM STYLES ~ */
.subtitle{
    font-size: 2rem;
    position: relative;
    margin-top: 4.5em;
}
form {
    height: auto;
    width: 45%;
    text-align: center;
    background-color: azure;
    border-radius: 15px;
    box-shadow: 0px 0px 31px -5px grey;
}
.affirmation, .mantra {
    margin: 1em 0.5em 1em 2em;
    font-size: 1.5em;
    transform: scale(2);
    cursor: pointer;
}
label {
    margin-right: 3em;
    font-size: 1.7em;
    font-style: italic;
}
/* ~ personalize form ~ */
.personalize label{
    font-size: 1.2em;
    font-style: normal;
    margin: 0em;
}
.personalize input{
    font-size: 1em;
    margin-right: 2em;
}

/* ~ buttons ~ */
button {
    font-family: 'Quicksand', sans-serif;
    background-color: #134d71;
    border-radius: 5px;
    border: none;
    color: white;
    padding: .2em 1.8em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    margin: 0.75em 2em;
    cursor: pointer;
}

/* ~ MESSAGE STYLES ~ */
.message-item {
    margin-top: 8em;
    height: 13em;
    width: 65%;
    text-align: center;
    background-color: azure;
    border-radius: 15px;
    box-shadow: 0px 0px 31px -5px grey;
}
.message-text{
    font-size: 2em;
    font-weight: 300;
    color: black;
    position: relative;
    margin-top: 2.5em;
}
.image {
    margin: 3.25em;
    height: 45%;
    width: auto;
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 2rem;
    }
    .subtitle{
        margin-top: 5%;
    }
    .affirmation, .mantra {
        margin: 1em 0em 1em 1em;
        font-size: 1em;
        transform: scale(1);
    }
    label {
        font-size: 1em;
    }
    .personalize input{
        font-size: .75em;
        margin-right: 5%;
    }
    button {
        font-family: 'Quicksand', sans-serif;
        background-color: #134d71;
        border-radius: 5px;
        border: none;
        color: white;
        padding: 5%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        margin: 5% 2%;
        cursor: pointer;
    }
    .message-item {
        width: 85%;
        margin: 10% 5%;
        align-items: center;
    }
    .message-text{
        font-size: 2em;
        font-weight: 300;
        color: black;
        margin: 5%;
}
