/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
.background-gradient {
  background-image: linear-gradient(to bottom, #134d71, #78a7c6, #f7e4bf);
  background-repeat: no-repeat;
  height: 800px;
  width: 800px;
}

.heading {
  color: #ffffff;
}

.question {
  color:#ffffff;
}
