/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000; */

 html {
  height: 100%;
  background: linear-gradient(#134d71,#78a7c6,#f7e4bf);
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
}

.inputs {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-style:oblique;
  font-weight: bold;
}
  #dropdown-content{
    width: 100px;
    height: 36px;
    margin-left: 90px;
    font-family: 'Quicksand', sans-serif;
    font-style:oblique;

  }

.submit1, .submit2 {
  border-radius: 8px;
  width: 78px;
  margin-top: 2px;
  margin-left: 90px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #134d71;
  color: #ffffff;
}


.main-text1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 38px;
  color: #ffffff;
  margin-bottom: 5px;
  text-align: center;
}
.main-text2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 5px;
  text-align: center;
}
.main-text3{
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}
.box1 {
  width: 500px;
  height: 70px;
  border-radius: 6px;
  background-color: white;
  padding:12px;
  font-size: 16px;
  box-shadow: 0 0 3px 1px rgba(0, 140, 186, 0.5);
  color: #000000;
}

.recieve-button {
  margin-top:20px;
  margin-left: 185px;
  font-weight: light;
  border-radius: 8px;
  color: white;
  background-color: #134d71;
  text-align: center;
}
.clear-button {
  margin-top:31px;
  margin-bottom: 27px;
  margin-left: 346px;
  border-radius: 8px;
  color: white;
  background-color: #134d71;

}
.here-button {
  margin-top:5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 90px;
  border-radius: 8px;
  color: white;
  background-color: #134d71;

}
.input1 {
  border-radius: 6px;
  margin-left: 90px;
  width: 126px;
}
.box2 {
  width: 800px;
  height: 110px;
  border-radius: 8px;
  background-color: white;
  padding:8px;
  margin-top: 100px;
  margin-bottom: 20px;
  border-color:#78a7c6;
  color: #000000;
}

.buddha {
  margin-left: 355px;
  height: 95%;
  width: auto;
}

.hidden {
  display: none;
}
.textbox{
  margin-top: 35px;
  margin-left: 100px;
  display: grid;
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;

}
fieldset {
  display: grid;
  position: absolute;
  margin-left: 265px;
  align-items: center;
  border-radius: 8px;
  border-color:#78a7c6;
  padding:8px;
  margin-top: 25px;
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#label {
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-style: oblique;
  margin-left: 90px;

}
