/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

* {
  border: 2px solid blue;
}

body {
  height:100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

.hidden {
  display: none!important;
}
/* Main Page Section */
.header-text {
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 3vh;
  font-size: 1.2em
}

.decide-message-text {
  text-align: center;
  color: white;
  padding-bottom: 4px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
  font-weight: bold;
  font-size: 0.9em
}

main {
  width: 75vw;
  height: 30vh;
  border: solid;
  border-color: black;
  margin: 0 auto auto auto;
}

.btn-container {
  width: 55%;
  height: 18%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

.radio-btns {
  width: 100%;
  height: 50%;
  background-color: white;
  display: block;
  padding-top: 2%
}

.affirmation-btn {
  margin-left: 15%;
}

.mantra-btn {
  margin-left: 39%
}

label {
  font-size: .8em;
  font-style: italic;
}

.receive-msg-btn {
  width: 100%;
  height: 50%;
  background-color: white;
}

.receive-msg-btn button {
  display: block;
  margin-left: 40%;
  border-radius: 3px;
  background-color: #134d71;
}

.bell-icon-box {
  width: 100%;
  height: 22%;
  background-color: white;
  margin-top: 18.3em
}

img {
  height: 50%;
  width: 100%;
}

.message-box {
  height: 20%;
  width: 50%;
  background-color: white;
  color: black;
}
