/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

/* Overall Body */
body {
    background: linear-gradient(#134d71 15%, #78a7c6, #f7e4bf);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

h1, h2 {
    color: #ffffff;
}

h1 {
    margin-bottom: 72px;
}
.input-box, .output-box {
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 16px;
}

/* Input Box Only */
.input-box{
    width: 40vw;
    height: 16vh;
    margin-bottom: 104px;
}

.radio-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
}

.button {
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    background-color: #134d71;
    border-radius: 4px;
    padding-left: 24px;
    padding-right: 24px;
}

.message-button {
    display: flex;
    justify-content: center;
    margin: 48px;
}

/* Output Box Only */
.output-box {
    width: 64vw;
    height: 24vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: 50%;
  }