/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/


html {
  height: 100%;
  width: 100%;
  position: relative;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Zapfino;
  background-image: url('./assets/background-modmantra.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 30px;
  /* border: 2px solid red; */
}



/* ~~~~~~~~~~~~~~ CONTROLS ~~~~~~~~~~~~~~~~ */



/* ~~~~~~~~~~~~~~HOME PAGE~~~~~~~~~~~~~~~~ */


div.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 1000px;
  height: 300px;
}

h1 {
  width: 500px;
  font-size: 80px;
  text-shadow: 1.5px 1.5px 2px #787fac;
  margin: -50px;
}

.white-lotus{
  width: 150px;
  height: 125px;
  text-shadow: 1.5px 1.5px 2px #787fac;
}

.symbol-1-b{
height: 230px;
text-shadow: 1.5px 1.5px 2px #787fac;
}


fieldset{
  height:700;
  width: 850px;
  border-style: dashed;
  color: #ffffff;
  border-width: 3px;
  border-color: ##feaaaa;
  border-image: initial;
}

 .box-1 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    opacity: .75;
}

legend {
  color: white;
  font-size: 55px;
  font-family: SignPainter;
  text-shadow: 1.5px 1.5px 2px #787fac;
}

.choose-text{
font-size: 30px;
}


section.message-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  height: 150px;
  color: #787fac;
  top: 40px;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 1.5px 1.5px 2px #feaaaa;
  background-color: white;
  border-radius: 0.5em;
  left: 75px;
  line-height: 90px;
  padding-top: 30px;
}


input {
  color: rebeccapurple;
  display: inline;
  font-size: 15px;
  font-style: italic;
}

.box-2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 800px;
  height: 150px;
  /* border: 2px solid red; */
}

section.box-3 {
  display: flex;
  justify-content: center;
  width: 800px;
  height:200px;

}


.box-4 {
  display: flex;
  align-items: center;
  width: 850px;
  height: 521px;
  border: 2px solid red;
}

div.chakra-box {
  height: 250px;
  width: 800px;
  border-radius: 0.5em;
}

#cb-1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #787fac;
  border-radius: 0.5em;
}

#cb-2{
  background: white;
  color: #feaaaa;
  border-radius: 0.5em;
}

#cb-3{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: none;
  color: #feaaaa;
  border-radius: 0.5em;
  border: 2px solid red;
}

h3.message{
  color: #787fac;
  font-size: 15px;
  font-family: Zapfino;
  background: white;
}


button.clear-btn{
  color: #787fac;
  background: white;
  text-shadow: 1.5px 1.5px 2px #feaaaa;
  font-family: Zapfino;
  font-size:  20px;
  height: 25 px;
  width: 400px;
  border-radius: 0.5em;
  border-color: #787fac

}


.manf-btn{
  font-family: SignPainter;
  color: white;
  background: #feaaaa;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  height: 55px;
  border-radius: 7px;
  border-color: white;
  text-shadow: 1.5px 1.5px 2px #feaaaa;
  padding: 20px 30px;
  transition: 300ms;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20)
}
button.clear-btn:hover {
  background: #eca7aaa1;
}
.manf-btn:hover {
  background: white url("assets/peach-lotus-2.png") no-repeat top;
}
