/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  background-attachment: fixed;
}

.hidden {
  display: none;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-align: center;
  padding: 20px
}

h4 {
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-align: center;
}

.form-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: white;
  width: 350px;
  height: 75px;
  border: none;
  border-radius: 10px;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.button-inputs {
  font-family: 'Quicksand', sans-serif;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.affirmation-radio {
  display: flex;
  align-items: right;
  justify-content: right;
  flex-direction: flex-start;
  padding: 0px;
  margin-right: 50px;
  border-radius: 6px;
}

.mantra-radio {
  display: flex;
  align-items: flex-end;
  justify-content: left;
  flex-direction: flex-end;
  padding: 0px;
  margin-left: 50px;
  border-radius: 6px;
}

.recieve-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  position: fixed;
  left: 650px;
  top: 150px;
}

#recieve {
  font-family: 'Quicksand', sans-serif;
  background: #134d71;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  padding: 5px 5px
}

#recieve:hover {
  background-color: #78a7c6;
  transform: scale(1.075);
  transition: 0.2s ease-in
}

.view-message {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  width: 700px;
  height: 150px;
  border: none;
  border-radius: 20px;
  margin: 60px;
}

.paragraph{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

img {
  height: 70px;
  width: 70px;
}

p {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  animation: fadeIn linear 4s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.clear-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#clear {
  font-family: 'Quicksand', sans-serif;
  background: #134d71;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px black;
  color: white;
  font-size: 12px;
  padding: 5px 5px;
}

/*#clear:hover {
  background-color: #a862ea;
  transform: scale(1.075);
  transition: 0.2s ease-in
}*/

.loader {
  border: 15px solid #f3f3f3;
  border-radius: 50%;
  border-top: 15px #134d71;
  border-right: 15px #78a7c6;
  border-bottom: 15px #f7e4bf;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 480px) {
    .form-box {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 1300px;
        padding: 0;
}

@media screen and (max-width: 480px) {
    .view-message {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 1300px;
        padding: 0;
}
