/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
html {
  background:no-repeat center center fixed;
  background-image:linear-gradient(#134d71, #78a7c6, #f7e4bf) ;
}

.h1-container {
  display: flex;
  justify-content: center;
}

.title {
  justify-items: center;
}

.h3-container{
  align-items: center;
  display: flex;
  justify-content: center;
}

.h3 {
  justify-items: center;
  font-size: 24px;
  margin-top: 70px;
}

.white-font {
  align-items: center;
  color: #ffffff;
  font-family: 'Quicksand';
  justify-items: center;
}

.white-box-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.first-white-box {
  align-content: center;
  display: flex;
  justify-content: flex;
  /* align-items: center;
  justify-items: center; */
}

.button-container {
  background-color: #ffffff;
  border-radius: 10px;
  flex-wrap: wrap;
  height: 15vh;
  margin-bottom: 30px;
  width: 50vw;
}

label {
  font-family: 'Quicksand';
  font-style: italic;
}

#affirm {
  align-items: flex-start;
  flex-basis: 25%;
  justify-items: center;
  margin-right: 0px;
}

.affirmation {
  align-items: flex-start;
  justify-items:center
}

#mantras {
  align-items: flex-start;
  flex-basis: 25%;
  justify-items: center;
  margin-right: 0px;
}

.mantra {
  align-items: flex-start;
  justify-items: center;
}

.submit-container {
  display: flex;
 
}

.submit {
  align-items: flex-end;
  background-color: #134d71;
  border-radius: 5px;
  flex-basis: 50%;
  height: 3vh;
  justify-items: center;
  width: 16vh;
}

.bottom-container {
  align-content: center;
  display: flex;
  justify-content: center;
}

.bottom-box {
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  height: 20vh;
  justify-content: center;
  margin: 50px;
  width: 80vw;
}

img {
  flex-basis: auto;
  height: 10vh;
  width: auto;
}
